/* Hide Google Translate widget elements */
.goog-te-banner-frame,
.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

/* Custom styles for translation dropdown */
.goog-te-menu-frame {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.goog-te-menu2 {
  background-color: white !important;
  border: none !important;
  padding: 0 !important;
  overflow: hidden !important;
}
